.tweets-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin: 30px auto;
  text-align: center;
}
.tweet {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.tag-area {
  width: 50%;
  margin: 0 auto;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-list li {
  text-align: left;
  margin: 5px 0;
}





